$mobile-width: 500px;

$clr-dark: #2d3142;
$clr-dark-lighter: #2a2d3c;
$clr-light: #f8fdfb;
$clr-sec: #facb0f;
$clr-tert: #fcdc5f;
$clr-accent1: #0f94bd;
$clr-accent2: #7bd8f4;
$clr-ludia: #373096e3;
$clr-firmy: #dd5460e8;

$ff-primary: 'Rubik', sans-serif;

$header-height: 3em;
